@import url('http://fonts.cdnfonts.com/css/open-sans');
@import url('http://fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  background-color: rgb(240, 242, 245);
}

header {
  background: linear-gradient( rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)), url(./images/pix.png);
  background-repeat: no-repeat;
  background-color: hsl(191, 89%, 96%);
  background-size: cover;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  padding-left: 8rem;
  padding-right: 5rem;

}

nav img {
  margin-right: 5px;
  border: none;
  border-radius: 3px;
}

.hlogo {
  color: white;
  font-size: 18px;
  text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

li a{
  color: white;
}

li span {
  font-size: 12px;
}

li button {
  border: none;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  border-radius: 9px;
  color: rgb(123, 128, 154);
  background-color: white;
  width: 100px;
  height: 35px;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.theheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10rem;
  text-align: center;
  gap: 30px;
}

.theheader h1 {
  font-size: 54px;
}

#first {
width: 800px;
 font-size: 24px;

}

.theheader button {
  margin-left: 3rem;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
  border-radius: 8px;
  background-color: white;
  width: 170px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.theheader address {
  margin-top: 2rem;
  margin-left: 3rem;
}

.theheader address > p {
  font-size: 20px;
}


.fa {
  padding: 10px;
  font-size: 18px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: 17rem;
}

.fa-instagram, .fa-twitter, .fa-google {
 
  color: white;
}

.fa-facebook {
  border-radius: 50%;
  padding: 4px;
  background: white;
  color: rgb(125, 131, 151);
}

.container {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 8px;
  margin-top: -50px;
}

.contained {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 70px;
}

.contained h3 {
  color: rgb(77, 94, 122);
  font-weight: 800;
  line-height: 38px;
}

.contained p {
  color: rgb(139, 144, 166);
  line-height: 29px;
  font-size: 19px;
}

.contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
}

.contain article {
  width: 300px;
  margin-top: -10px;

}

.contain article img {
  margin-top: 30px;
}

.contain article p {
  font-size: 18px;
}

.containimg {
  border: none;
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgb(233, 233, 233);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 100px;
  margin-top: 30px;
  padding: 18px;
  width: 700px;
  margin-bottom: 90px;
}

.containimg img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-top: -50px;
}

.containimg h3 {
  padding-top: 20px;
  font-size: 22px;
}

.containimg button {
  color: white;
  background-color: rgb(60, 150, 237);
  border: none;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 400;
  gap: 8px;
  margin-top: 14px;
}

.middle {
  background-color: rgb(60, 59, 66);
  padding: 40px;
  padding-left: 60px;
}

.middle h2 {
  font-size: 32px;
  color: white;
  line-height: 60px;
}

.middle p {
  color: white;
  font-size: 17px;
}


.midpics article {
  background-color: white;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 12px;
  margin: 14px;
  padding: 8px;
}

.midpics article div {
  margin: 20px;
  gap
}

.midpics h3 {
  color: rgb(77, 94, 122);
}

.midpics p {
  color: rgb(123, 128, 154);
}

.midpics .blue {
  color: rgb(26, 115, 231);
  font-weight: 800;
  margin-bottom: 10px;
}

.emma {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.emma img {
  margin-top: -50px;
}

.ivana {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.ivana img {
  margin-top: -50px;
}

.ads {
  margin: 25px;
  padding-bottom: 60px;
}

.service {
  display: flex;
  flex-direction: row;
  margin: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 190px;
}

.service h4 {
  font-size: 20px;
  color: rgb(52, 71, 103);
}

.alphabet{
  color: rgb(173, 175, 192);
  font-size: 18px;
  width: 300px;
}

.nums {
  font-size: 50px;
  color: rgb(26, 115, 231);
  font-weight: 800;
}

.subfooter {
  display: flex;
  flex-direction: row;
  margin: 100px;
  margin-top: 0px;
  gap: 20px;
  padding-bottom: 70px;
}

.subfooter article {
  margin-top: 70px;
}

.subfooter h3 {
  color: rgb(52, 71, 103);
  font-size: 28px;
  line-height: 60px;
}

.subfooter p {
  color: rgb(123, 128, 154);
  font-size: 18px;
  line-height: 25px;
}

.subfooter form {
  margin-top: 30px;
  gap: 14px;
}

#email {
  border: 1px solid rgb(199, 204, 208);
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  border-radius: 8px;
  background-color: white;
  width: 350px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-right: 10px;
}

.subfooter button {
  border: none;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  border-radius: 9px;
  color: white;
  background-color: rgb(50, 140, 236);
  width: 120px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 32px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.thefooter {
  text-align: center;
  color: rgb(87, 103, 129);
}

.footersec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 190px;
  margin-right: 190px;
  margin-bottom: 50px;
  gap: 70px;
  text-align: left;
}

.footersec article {
  line-height: 25px;
}

.footersec article h4 {
  line-height: 35px;

}

.log {
  margin-top: 10px;
}

.log h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

#one {
  margin-right: 9px;
}

#two {
  margin-right: 9px;
}

#three {
  margin-right: 9px;
}

#four {
  margin-right: 9px;
}


#ten {
  display: none;
}

#six {
  display: none;
}

#seven {
  display: none;
}

#eight {
  display: none;
}

#nine {
  display: none;
}



@media only screen and (max-width: 1115px) {
.contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -25px;
  gap: 14px;
}

.contain article {
  width: 250px;
  margin-top: -10px;

}

.contain article img {
  margin-top: 30px;
}

.contain article p {
  font-size: 18px;
}

.containimg {
  border: none;
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgb(233, 233, 233);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 100px;
  margin-top: 30px;
  padding: 18px;
  width: 400px;
  margin-bottom: 90px;
}

.containimg img {
  width: 80%;
  height: auto;
  border-radius: 16px;
  margin-top: -50px;
}

.containimg h3 {
  padding-top: 20px;
  font-size: 22px;
}

.containimg button {
  color: white;
  background-color: rgb(60, 150, 237);
  border: none;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 400;
  gap: 8px;
  margin-top: 14px;
}

.ads {
  margin-left: 200px;
  margin-right: 130px;
}

.subfooter {
  margin: 50px;
  gap: 8px;
}

.subfooter form {
  gap: 8px;
}

#email {
  width: 200px;
}

.footersec {
  margin-left: 150px;
  margin-right: 150px;
  gap: 40px;
}


@media only screen and (max-width: 1000px) {
  .containimg {
    margin-right: 70px;
  }

  .ads {
  margin-left: 150px;
  margin-right: 150px;
}

.service {
  margin: 50px;
  gap: 12px;
}

.service h4 {
  font-size: 18px;
}

.alphabet{
  font-size: 16px;
  width: 280px;
}

.nums {
  font-size: 40px;
}

.subfooter {
  gap: 8px;
}

.subfooter h3 {
  font-size: 24px;
  line-height: 40px;
}

.subfooter p {
  font-size: 14px;
  line-height: 25px;
}

#email {
  width: 180px;
}

.subfooter button {
  width: 100px;
}

.footersec {
  margin-left: 110px;
  margin-right: 110px;
  gap: 30px;
}
}

@media only screen and (max-width: 900px) {
  nav {
  padding: 20px;
  padding-left: 5rem;
  padding-right: 3rem;

}

.theheader button {
  margin-left: 0rem;
}

.theheader address {
  margin-left: 0rem;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.contained p {
  font-size: 17px;
}

.contain article {
  width: 200px;

}

.contain article p {
  font-size: 16px;
}

.containimg {
  margin-right: 30px;
  padding: 10px;
  width: 500px;
}

.containimg img {
  width: 90%;
}

.containimg h3 {
  font-size: 20px;
}

.middle {
  padding: 20px;
  padding-left: 40px;
}

.midpics article {
  margin: 10px;
}

.midpics article div {
  margin: 17px;
}

.ads {
  margin-left: 100px;
  margin-right: 100px;
}

.service {
  gap: 0px;
}

.service h4 {
  font-size: 18px;
}

.alphabet{
  font-size: 16px;
}

.nums {
  font-size: 40px;
}

.subfooter {
  margin: 30px;
  gap: 0px;
}

.subfooter h3 {
  font-size: 24px;
  line-height: 50px;
}

.subfooter p {
  font-size: 16px;
  line-height: 20px;
}

.subfooter form {
  margin-top: 30px;
  gap: 10px;
}

#email {
  width: 120px;
  margin-right: 7px;
}

.subfooter button {
  width: 100px;
}

#laptop {
  width: 50%;
  height: auto;
}

.footersec {
  margin-left: 60px;
  margin-right: 60px;
  gap: 30px;
  text-align: left;
}

}

@media only screen and (max-width: 880px) {
 
 .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media only screen and (max-width: 850px)
{
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media only screen and (max-width: 750px) {

  .theheader {
  margin-top: 9rem;
}

.theheader h1 {
  font-size: 40px;
}

#first {
width: 550px;
 font-size: 18px;

}

.theheader button {
  padding: 4px 10px;
  width: 160px;
  font-size: 12px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.contained {
  flex-direction: column-reverse;
}

.contained h3 {
  color: rgb(77, 94, 122);
  font-weight: 800;
  line-height: 38px;
}

.contained p {
  color: rgb(139, 144, 166);
  line-height: 29px;
  font-size: 19px;
}

.contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: 40px;
}

.contain article {
  width: 200px;
  margin-top: 0px;

}

.containimg {
  margin-right: 0px;
  width: 400px;
  margin-bottom: 90px;
}

.containimg img {
  width: 80%;
}

.containimg h3 {
  font-size: 18px;
}

.containimg button {
  padding: 8px 14px;
}

.middle {
  padding: 30px;
  padding-left: 30px;
}

.midpics article {
  flex-direction: column;
}

.ads {
  margin-left: 90px;
  margin-right: 90px;
}

.service {
  display: flex;
  flex-direction: row;
  margin: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 190px;
}

.service h4 {
  font-size: 18px;
}

.alphabet{
  font-size: 16px;
  width: 150px;
}

.nums {
  font-size: 38px;
}

.subfooter {
  flex-direction: column-reverse;
  margin: 60px;
  margin-top: -120px;
}

.subfooter article {
  margin-top: 30px;
}

.subfooter form {
  margin-top: 30px;
  gap: 10px;
}

#laptop {
  width: 100%;
  height: auto;
}

#email {
  width: 250px;
}

.footersec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.log {
  align-self: center;
  justify-self: center;
}

.log h4 {
  font-size: 30px;
}

.log img {
  margin-left: 50px;
  width: 30%;
  height: auto;
}

.companya {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companya div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}


.companyb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companyb div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.companyc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companyc div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.companyd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companyd div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}



#one {
  display: none;
  margin-right: 0px;
}

#two {
  display: none;
  margin-right: 0px;
}

#three {
  display: none;
  margin-right: 0px;
}

#four {
  display: none;
  margin-right: 0px;
}

#five {
  display: none;
}

.nop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 20px;
}

#six {
  display: block;
}

#seven {
  display: block;
}

#eight {
  display: block;
}

#nine {
  display: block;
}

#ten {
  display: block;
}

}


@media only screen and (max-width: 450px) {

  .theheader {
  margin-top: 7rem;
}

.theheader h1 {
  font-size: 30px;
}

#first {
width: 320px;
 font-size: 16px;

}

.theheader button {
  padding: 2px 8px;
  width: 120px;
  font-size: 11px;
}

.theheader address {
  margin-left: 0rem;
}

.theheader address > p {
  font-size: 18px;
}


.fa {
  font-size: 16px;
  margin-bottom: 16rem;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

.contained p {
  color: rgb(139, 144, 166);
  line-height: 26px;
  font-size: 14px;
}

.contain {
  margin-left: 0px;
  margin-bottom: 40px;
}

.contain article {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;

}

.containimg {
  width: 270px;
  margin-bottom: 50px;
}

.containimg button {
  padding: 8px 14px;
  font-size: 10px;
}

.middle {
  padding: 20px;
  padding-left: 20px;
  text-align: center;
}

.middle h2 {
  font-size: 24px;
}

.midpics {
  flex-direction: column;
}

.midpics .emma {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.midpics .ivana {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ads {
  margin-left: 50px;
}

.service {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 190px;
}

.service h4 {
  font-size: 18px;
}

.alphabet{
  font-size: 16px;
  width: 190px;
}

.nums {
  font-size: 30px;
}

.subfooter {
  flex-direction: column-reverse;
  margin: 40px;
  margin-top: -120px;
}

.subfooter article {
  margin-top: 30px;
}

.subfooter form {
  margin-top: 30px;
  gap: 10px;
}

.subfooter h3 {
  font-size: 20px;
  line-height: 30px;
}

.subfooter p {
  font-size: 16px;
  line-height: 25px;
}

#email {
  width: 120px;
}

.footersec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.companya {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companya div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}


.companyb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companyb div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.companyc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companyc p {
  font-size: 14px;
}
.companyc div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}

.companyd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.companyd div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}



#one {
  display: none;
  margin-right: 0px;
}

#two {
  display: none;
  margin-right: 0px;
}

#three {
  display: none;
  margin-right: 0px;
}

#four {
  display: none;
  margin-right: 0px;
}

#five {
  display: none;
}

.nop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 20px;
}

#six {
  display: block;
}

#seven {
  display: block;
}

#eight {
  display: block;
}

#nine {
  display: block;
}

#ten {
  display: block;
}

}


